*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
}

:root{
    --color-primary: #ecebe4;
    --color-secondary: #daddd8;
    --color-black: #1c1c1c;
}

header{
    position: fixed;
    width: 100vw;
    padding-top: 1em;
    /* outline: solid; */
}

body{
    background-color: var(--color-primary);
}

nav{
    display: flex;
    justify-content: center;
    margin: 0 1em;
    /* outline: solid; */
}

.left-nav{
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* outline: solid; */
}

.left-nav li{
    list-style-type: none;
}

nav a{
    color: var(--color-black);
    font-weight: 500;
    text-decoration: none;
}

.mid-nav{
    width: 100%;
    display: flex;
    justify-content: center;
}

.right-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* outline: solid;  */
}

.right-nav-link{
    width: 25%;
    /* outline: solid; */
}